.backgroundShapeIcon {
    position: absolute;
    top: 0px;
    left: 121px;
    /*width: 1509px;*/
    /*height: 820px;*/
    height: 100%;
    width: 100%;
}
.logIn {
    position: absolute;
    top: 40px;
    left: 64px;
    font-size: 32px;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-family: Archivo;
    color: #303237;
}
.body {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d5e0e7;
    box-sizing: border-box;
}
.title {
    position: absolute;
    top: -20px;
    left: 0px;
    letter-spacing: -0.04em;
    font-weight: 500;
    color: #676d7c;
}
.formUsernameBox {
    position: absolute;
    top: 128px;
    left: 64px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d5e0e7;
    box-sizing: border-box;
    width: 321px;
    height: 40px;
}
.icon {
    position: absolute;
    top: calc(50% - 14px);
    right: 8px;
    border-radius: 4px;
    width: 28px;
    height: 28px;
}
.formPasswordBox {
    position: absolute;
    top: 208px;
    left: 64px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d5e0e7;
    box-sizing: border-box;
    width: 321px;
    height: 40px;
}
.button {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 20px);
    letter-spacing: -0.02em;
    font-weight: 600;
}
.buttonPrimary {
    position: absolute;
    top: 288px;
    left: 64px;
    border-radius: 4px;
    background-color: #ff9101;
    width: 154px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.logInParent {
    position: absolute;
    top: 218px;
    left: 757px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #d5e0e7;
    box-sizing: border-box;
    width: 449px;
    height: 382px;
    overflow: hidden;
}
.vyos {
    position: absolute;
    top: 9.38%;
    left: 33.47%;
    letter-spacing: -0.5px;
    font-weight: 600;
}
.logoIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 64px;
    height: 64px;
}
.routerexamplecom {
    position: absolute;
    top: 42px;
    left: 84px;
    font-size: 14px;
    letter-spacing: -0.04em;
    font-weight: 500;
    font-family: 'Work Sans';
    color: #676d7c;
}
.vyosParent {
    position: absolute;
    height: 7.8%;
    width: 18.37%;
    top: 41.95%;
    right: 71.38%;
    bottom: 50.24%;
    left: 10.25%;
    font-size: 32px;
    color: #303237;
    font-family: Archivo;
}
.login {
    width: 100%;
    position: relative;
    background-color: #f6f8fa;
    height: 58rem;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    color: #a3aeb3;
    font-family: 'Work Sans';
}

.input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
}